*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.movie-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #f9f9f9;
  }
  
  .movie-background {
    background-image: linear-gradient(to right, black, red , white, );
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
  }
  
  .movie-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .movie-poster img {
    width: 350px; /* Adjust the width as per your preference */
    height: auto; /* Maintain aspect ratio */
    border-radius: 4px;
  }
  
  .movie-info {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .movie-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333333;
  }
  
  .movie-info p {
    margin-bottom: 5px;
    color: #666666;
  }
  
  /* Add additional styles as needed */
  @media (max-width: 600px) {
    .movie-content {
      flex-direction: column;
    }
  
    .movie-poster {
      margin-bottom: 1rem;
    }
  }
  